@import "../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  font-family: 'Consolas', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(white, 0.99);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 70px;
}

main {
  margin: 1rem 0;
  padding: 1.5rem;
  @include media-breakpoint-up(md) {
    margin-left: 200px;
  }
  @include media-breakpoint-up(xl) {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-height: calc(100vh - 10rem);
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: lightgray;
  a {
    color: #0E6DFE;
    text-decoration: none;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
